<!DOCTYPE html>
{% load static %}
<html>
<head>

 <link rel="shortcut icon" href="/images/building.png" type="image/png">

<title>BaitHouse</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">

<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
  <!-- ################################################################################################ -->
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear">
      <!-- ################################################################################################ -->
      <div class="fl_left">
        <ul class="nospace">
          <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Login</a></li>
          {% if not request.user.is_authenticated %}
          <li><a href="{% url 'register' %}">Register</a></li>
          <a href="{% url 'login' %}"><i class="fas fa-user-circle"></i></a>
          {% else %}
          <a href="{% url 'logout' %}"><i style="color: black;" class="fas fa-user-circle"></i></a>
          {% endif %}

        </ul>
      </div>
      <div class="fl_right">
        <ul class="nospace">
          <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
          <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><b><a bolt="" style="font-size:35px;" href="{% url 'home' %}">BaitHouse</a></h1></b>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a style="font-size: 16px;" href="index.html">Home</a></li>
          <li><a style="font-size: 16px;" class="drop" href="#">Недвижимость</a>
            <ul>
              <li><a href="{% url 'gallery' %}">Квартиры</a></li>
              <li><a href="{% url 'full' %}">Частные дома</a></li>
              <li><a href="{% url 'basic-grid' %}">что то</a></li>
            </ul>
          </li>
          <li><a style="font-size: 16px;" class="drop" href="{% url 'create-house' %}">Create</a>
          </li>
          <li><a style="font-size: 16px;" href="{% url 'basic-grid' %}">О нас</a></li>
          <ul>
          </ul>
          <li><a href="#"></a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
  <!-- ###################################### ########################################################## -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear">


   <img class="bgded overlay"  style="background-image"  src="{% static 'images/new.jpg' %}">
    <article class="introtxt">
      <p>Дом для счастливых семей</p>
      <h2 class="heading">ЭЛ КЛАССИК ПЛЮС</h2>
      <footer><a class="btn" href="#">Подробнее</a></footer>
    </article>

    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </div>
  <!-- ################################################################################################ -->
</img>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="group center">
      <article class="one_quarter first"><i class="icon fa fa-repeat"></i>
        <h4 class="font-x1"><a href="#">Posuere turpis</a></h4>
        <p>Pharetra erat vitae aliquam cras vitae feugiat quam mauris eget dolor eleifend interdum nam eleifend augue nec.</p>
      </article>
      <article class="one_quarter"><i class="icon fa fa-bar-chart"></i>
        <h4 class="font-x1"><a href="#">15 лет на рынке</a></h4>
        <p>Aliquet magna odio placerat vitae urna vitae aliquam aliquet lectus donec suscipit leo vitae ante viverra iaculis.</p>
      </article>
      <article class="one_quarter"><i class="icon fa fa-bitbucket"></i>
        <h4 class="font-x1"><a href="#">Выбор года 2022</a></h4>
        <p>Ultrices nibh quis mi ultrices eget varius elit sodales proin sed tincidunt ante sed posuere ex eget justo luctus.</p>
      </article>
      <article class="one_quarter"><i class="icon fa fa-hashtag"></i>
        <h4 class="font-x1"><a href="#">Faucibus finibus</a></h4>
        <p>Aliquam erat volutpat class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos.</p>
      </article>
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/02.png');">
  <div class="hoc container clear center">
    <!-- ################################################################################################ -->
    <article>
      <h2 class="heading">что вас интересует?</h2>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn" href="{% url 'full' %}">Частные дома</a></li>
          <li><a class="btn inverse" href="{% url 'gallery' %}">квартиры</a></li>
        </ul>
      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper">
  <div class="split clear" style="background-image" src="{% static 'images/building.png' %}">
    <section class="box">
      <!-- ################################################################################################ -->
      <div class="btmspace-50">
        <h3 class="font-x2 nospace">наши преимущества </h3>
        <p class="nospace">ДОВЕРИТЬСЯ НАМ ЛЕГКО<a href="#"></a>.</p>
      </div>
      <ul class="nospace group services">
        <li class="one_half first">
          <article><a href="#"><i class="fa fa-plug"></i></a>
            <h6 class="heading">исключение перерасхода</h6>
            <p>Мы рассчитываем оптимальный объем материалов, исключая перерасход по коэффициенту запаса. Так вы
сэкономите до 20% бюджета.</p>
          </article>
        </li>
        <li class="one_half">
          <article><a href="#"><i class="fa fa-puzzle-piece"></i></a>
            <h6 class="heading">долговечность каркаса здания</h6>
            <p>Rhoncus etiam vel semper elit sed porta diam maecenas eget ligula a diam imperdiet posuere in in libero etiam tristique&hellip;</p>
          </article>
        </li>
        <li class="one_half first">
          <article><a href="#"><i class="fa fa-random"></i></a>
            <h6 class="heading">рассрочка оплат на период строительства </h6>
            <p>Предоставляем вам возможность проведения оплат поэтапно, путем деления на весь период строительных работ.&hellip;</p>
          </article>
        </li>
        <li class="one_half">
          <article><a href="#"><i class="fa fa-firefox"></i></a>
            <h6 class="heading">Энергоэффективные стены и кровля</h6>
            <p>Премиум материалы в обшивке снижают теплопотери и сократят ваши расходы на отопление минимум на 30%.&hellip;</p>
          </article>
        </li>
      </ul>
      <!-- ################################################################################################ -->
    </section>
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper coloured">
  <article class="hoc container clear center">
    <!-- ################################################################################################ -->
    <h6 class="heading capitalise">Tristique mi faucibus interdum auctor ante donec posuere</h6>
    <p class="nospace"><a class="btn inverse" href="#">на вверх</a></p>
    <!-- ################################################################################################ -->
  </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image: {% static 'images/new.jpg' %};">
  <div class="hoc container center clear">
    <!-- ################################################################################################ -->
    <blockquote class="nospace btmspace-50 font-x1">Augue vitae faucibus nullam ut aliquet sapienproin euismod enim vel lacinia ultrices risus mi feugiat diam vitae ullamcorper tortor purus at lectus duis arcu sapien sollicitudin a dolor non porttitor eleifend sem vivamus hendrerit dolor in viverra auctor tellus.</blockquote>
    <img  style="width: 80px; height: auto;" src="{% static 'images/dani.jpg' %}">
    <img  style="width: 80px; height: auto;" src="{% static 'images/has.jpg' %}">
    <figure><img class="btmspace-15" src="images/demo/60x60.png" alt="">
      <figcaption><strong style="font-size 30px;">Наши великие основатели</strong><br>
        <em><b>BAITHOUSE</em></b></figcaption>
    </figure>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section class="hoc container clear">
    <!-- ################################################################################################ -->
    <div class="center btmspace-50">
      <h3 class="font-x2 nospace">Будущие проекты</h3>
      <p class="nospace">Eros etiam vel felis nulla donec eleifend facilisis faucibus aliquam dictum enim ac <a href="#">vehicula tristique</a>.</p>
    </div>
    <div class="group">
      <article class="one_third first"><a href="#"><img class="btmspace-30" src="images/demo/320x210.png" alt=""></a>
        <time class="block font-xs" datetime="2045-04-06">6<sup>th</sup> April 2045</time>
        <h4 class="nospace font-x1">Vitae tortor placerat</h4>
        <p>Vel consectetur interdum orci aliquam vel accumsan turpis hendrerit dolor tincidunt tincidunt vestibulum purus&hellip;</p>
        <p class="nospace"><a href="#">Read More &raquo;</a></p>
      </article>
      <article class="one_third"><a href="#"><img class="btmspace-30" src="images/demo/320x210.png" alt=""></a>
        <time class="block font-xs" datetime="2045-04-05">5<sup>th</sup> April 2045</time>
        <h4 class="nospace font-x1">Dictum ut felis</h4>
        <p>Justo lacinia nibh eget porttitor erat metus in mauris nulla volutpat lectus risus sit amet vestibulum dui suscipit&hellip;</p>
        <p class="nospace"><a href="#">Read More &raquo;</a></p>
      </article>
      <article class="one_third"><a href="#"><img class="btmspace-30" src="images/demo/320x210.png" alt=""></a>
        <time class="block font-xs" datetime="2045-04-04">4<sup>th</sup> April 2045</time>
        <h4 class="nospace font-x1">Consectetur vel neque</h4>
        <p>Eget proin in purus bibendum lacinia metus ornare rutrum eros lorem ipsum dolor sit amet consectetur adipiscing elit&hellip;</p>
        <p class="nospace"><a href="#">Read More &raquo;</a></p>
      </article>
    </div>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="title">Tortor vestibulum</h6>
      <p>Nulla nec metus sed arcu suscipit dignissimmaecenas lobortis quam vel leo placerat lacinia quisque ac dolor fermentum ultrices.</p>
      <p>Lacus donec aliquam sodales orci eget convallis mauris tempor id leo massa euismod id nisl eu molestie erat.</p>
    </div>
    <div class="one_quarter">
      <h6 class="title">наши контакты</h6>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
          Street Name &amp; Number, Town, Postcode/Zip
          </address>
        </li>
        <li><i class="fa fa-phone"></i> +00 (123) 456 7890<br>
          +00 (123) 456 7890</li>
        <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">Pulvinar et fusce</h6>
      <ul class="nospace linklist">
        <li><a href="#">Felis elit ut mollis urna</a></li>
        <li><a href="#">Ipsum mauris tincidunt at</a></li>
        <li><a href="#">Nibh ut dignissim elementum</a></li>
        <li><a href="#">Leo integer suscipit sagittis</a></li>
        <li><a href="#">Blandit in hac habitasse</a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">Dictumst integer</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <h6 class="nospace font-x1"><a href="#">Vel metus pharetra</a></h6>
            <time class="font-xs block btmspace-10" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
            <p class="nospace">Maximus ipsum vestibulum diam tortor suscipit vitae&hellip;</p>
          </article>
        </li>
        <li>
          <article>
            <h6 class="nospace font-x1"><a href="#">Fermentum tellus</a></h6>
            <time class="font-xs block btmspace-10" datetime="2045-04-05">Thursday, 5<sup>th</sup> April 2045</time>
            <p class="nospace">Posuere cursus magnaproin id neque nunc non bibendum&hellip;</p>
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{% static 'layout/scripts/jquery.min.js' %}"></script>
<script src="{% static 'layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'layout/scripts/jquery.mobilemenu.js' %}"></script>
</body>
</html>