{% extends 'base.html' %}
{% block content %}
{% load static %}
{% for build in builds %}
<article class="box post post-excerpt">
    <header>
        <h2><a href="{% url 'gallery' pk=build.pk %}" style="padding: 10px">{{ build }}</a></h2>
        <a  href="{% url 'post_detail' pk=build.pk %}" class="image"> <img src="{{ build.image.url }}" style="width: 300px; height: auto; padding: 10px;" ></a>
    </header>
<div style="width: 700px; height: auto;" class="row row-cols-1 row-cols-md-2 g-4">
  <div  class="col">
    <div class="card">
      <img src="{{ build.image.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ build }}</h5>
        <p class="card-text">{{ build.title }}</p>
      </div>
    </div>
  </div>
</div>
     </article>
    {% endfor %}
{% endblock %}